In [3]:
#Example
def less_than(num):
    for n in range(num):
        print(n)

less_than(5)

0
1
2
3
4

In [122]:
#Question 1
def student_grade(call_name):
    marks = {'Andy':88, 'Amy':66, 'James': 90, 'Jules': 55, 'Arthur': 77}
    for name, grade in marks.items():
        if name == call_name:
            return grade
    else:
        print('cannot find student name')
    
student_grade('Amy')

66

In [123]:
marks = {'Andy':88, 'Amy':66, 'James': 90, 'Jules': 55, 'Arthur': 77}
def average_grade(gradebook):
    total=0
    for name, grade in gradebook.items():
        total+=grade
    average=total/len(gradebook)
    return average 
    
average_grade(marks)

75.2

In [124]:
#Question 2
def less_than(num):
    n=0
    while n<num:
        print(n, ',', n**2)
        n+=1
    else:
        print('number is equal to or greater than', num)
        
less_than(8)

0 , 0
1 , 1
2 , 4
3 , 9
4 , 16
5 , 25
6 , 36
7 , 49
number is equal to or greater than 8

In [34]:
#Question 3
def add(num):
    n=1
    sum=0
    while n<=num:
        sum+=n
        n+=1
    return sum

add(5)

15

In [37]:
#Question 4
def add(num):
    sum=0
    for n in range(1, num+1):
        sum+=n
        print(sum)

add(5)

1
3
6
10
15

In [42]:
#Question 5
import statistics as stat 
list=range(1,100)

print(stat.mean(list))
print(sum(list))
print(stat.stdev(list))

50
4950
28.722813232690143

In [51]:
#Question 6
def minimal(v1,v2,v3,v4):
    min=v1
    if v2<min:
        min=v2
    if v3<min:
        min=v3
    if v4<min:
        min=v4
    return min 
 
print(minimal(6,2,-2,1))

-2

In [94]:
#Question 7
def concatenate(s1,s2,s3):
    string=s1+s2+s3
    return string    

print(concatenate('abc','def','ghi'))

abcdefghi